In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=10f9f5ee72a7221f3617d9272da1cc5ed1f8e45dbc88b98334b01f9af9cb5f17
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.option('header','true').csv('/content/flights-larger.csv',inferSchema=True) #to get int value we use inferschema

In [ ]:
df_pyspark.printSchema()

root
 |-- mon: integer (nullable = true)
 |-- dom: integer (nullable = true)
 |-- dow: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- org: string (nullable = true)
 |-- mile: integer (nullable = true)
 |-- depart: double (nullable = true)
 |-- duration: integer (nullable = true)
 |-- delay: string (nullable = true)

In [ ]:
type(df_pyspark) #dataframe is a data structure

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.columns

['mon',
 'dom',
 'dow',
 'carrier',
 'flight',
 'org',
 'mile',
 'depart',
 'duration',
 'delay']

In [ ]:
df_pyspark.head() #different from panda , it shows in list format

Row(mon=10, dom=10, dow=1, carrier='OO', flight=5836, org='ORD', mile=157, depart=8.18, duration=51, delay='27')

In [ ]:
df_pyspark.select('carrier')

DataFrame[carrier: string]

In [ ]:
df_pyspark.select('carrier').show()

+-------+
|carrier|
+-------+
|     OO|
|     OO|
|     OO|
|     B6|
|     WN|
|     B6|
|     B6|
|     UA|
|     US|
|     AA|
|     B6|
|     AA|
|     B6|
|     AA|
|     UA|
|     OH|
|     UA|
|     OH|
|     UA|
|     AA|
+-------+
only showing top 20 rows

In [ ]:
df_pyspark.select(['carrier','dom']).show()

+-------+---+
|carrier|dom|
+-------+---+
|     OO| 10|
|     OO|  4|
|     OO| 22|
|     B6| 14|
|     WN| 25|
|     B6| 28|
|     B6| 28|
|     UA| 19|
|     US|  5|
|     AA| 27|
|     B6| 20|
|     AA|  3|
|     B6| 26|
|     AA|  9|
|     UA|  8|
|     OH| 10|
|     UA| 14|
|     OH|  8|
|     UA| 14|
|     AA|  2|
+-------+---+
only showing top 20 rows

In [ ]:
df_pyspark['dom'].show() #unlike pandas

TypeError: ignored

In [ ]:
df_pyspark.describe().show()

+-------+------------------+-----------------+------------------+-------+------------------+------+-----------------+------------------+------------------+-----------------+
|summary|               mon|              dom|               dow|carrier|            flight|   org|             mile|            depart|          duration|            delay|
+-------+------------------+-----------------+------------------+-------+------------------+------+-----------------+------------------+------------------+-----------------+
|  count|            275000|           275000|            275000| 275000|            275000|275000|           275000|            275000|            275000|           275000|
|   mean|           5.24232|15.71406909090909| 2.946090909090909|   null|2063.0542763636363|  null|881.2222872727273|14.124930981817384|151.64103636363637|28.34773064280709|
| stddev|3.4273573316203576|8.805568383848067|1.9635141531217672|   null| 2185.852169684581|  null|700.5178890821038| 4.683189503417866|  87.0845640768675|54.01489538326629|
|    min|                 0|                1|                 0|     AA|                 1|   JFK|               11|              0.12|                14|               -1|
|    max|                11|               31|                 6|     WN|              6941|   TUS|             4243|             23.98|               605|               NA|
+-------+------------------+-----------------+------------------+-------+------------------+------+-----------------+------------------+------------------+-----------------+

In [ ]:
##adding and dropping columns


df_pyspark.withColumn('mon after 2',df_pyspark['mon']+2)

DataFrame[mon: int, dom: int, dow: int, carrier: string, flight: int, org: string, mile: int, depart: double, duration: int, delay: string, mon after 2: int]

In [ ]:
df_pyspark.withColumn('mon after 2',df_pyspark['mon']+2).show()

+---+---+---+-------+------+---+----+------+--------+-----+-----------+
|mon|dom|dow|carrier|flight|org|mile|depart|duration|delay|mon after 2|
+---+---+---+-------+------+---+----+------+--------+-----+-----------+
| 10| 10|  1|     OO|  5836|ORD| 157|  8.18|      51|   27|         12|
|  1|  4|  1|     OO|  5866|ORD| 466|  15.5|     102|   NA|          3|
| 11| 22|  1|     OO|  6016|ORD| 738|  7.17|     127|  -19|         13|
|  2| 14|  5|     B6|   199|JFK|2248| 21.17|     365|   60|          4|
|  5| 25|  3|     WN|  1675|SJC| 386| 12.92|      85|   22|          7|
|  3| 28|  1|     B6|   377|LGA|1076| 13.33|     182|   70|          5|
|  5| 28|  6|     B6|   904|ORD| 740|  9.58|     130|   47|          7|
|  1| 19|  2|     UA|   820|SFO| 679| 12.75|     123|  135|          3|
|  8|  5|  5|     US|  2175|LGA| 214|  13.0|      71|  -10|         10|
|  5| 27|  5|     AA|  1240|ORD|1197| 14.42|     195|  -11|          7|
|  8| 20|  6|     B6|   119|JFK|1182| 14.67|     198|   20|         10|
|  2|  3|  1|     AA|  1881|JFK|1090| 15.92|     200|   -9|          4|
|  8| 26|  5|     B6|    35|JFK|1028| 20.58|     193|  102|         10|
|  4|  9|  5|     AA|   336|ORD| 733|  20.5|     125|   32|          6|
|  3|  8|  2|     UA|   678|ORD| 733| 10.95|     129|   55|          5|
|  8| 10|  3|     OH|  6347|LGA| 292| 11.75|     102|    8|         10|
|  8| 14|  0|     UA|   624|ORD| 612| 17.92|     109|   57|         10|
|  4|  8|  4|     OH|  5585|JFK| 301| 13.25|      88|   23|          6|
|  1| 14|  4|     UA|  1524|SFO| 414| 14.87|      91|   27|          3|
|  1|  2|  6|     AA|  1341|ORD|1846|   7.5|     275|   26|          3|
+---+---+---+-------+------+---+----+------+--------+-----+-----------+
only showing top 20 rows

In [ ]:
#dropping columns

df_pyspark.drop('mon after 2')

DataFrame[mon: int, dom: int, dow: int, carrier: string, flight: int, org: string, mile: int, depart: double, duration: int, delay: string]

In [ ]:
df_pyspark.show()

+---+---+---+-------+------+---+----+------+--------+-----+
|mon|dom|dow|carrier|flight|org|mile|depart|duration|delay|
+---+---+---+-------+------+---+----+------+--------+-----+
| 10| 10|  1|     OO|  5836|ORD| 157|  8.18|      51|   27|
|  1|  4|  1|     OO|  5866|ORD| 466|  15.5|     102|   NA|
| 11| 22|  1|     OO|  6016|ORD| 738|  7.17|     127|  -19|
|  2| 14|  5|     B6|   199|JFK|2248| 21.17|     365|   60|
|  5| 25|  3|     WN|  1675|SJC| 386| 12.92|      85|   22|
|  3| 28|  1|     B6|   377|LGA|1076| 13.33|     182|   70|
|  5| 28|  6|     B6|   904|ORD| 740|  9.58|     130|   47|
|  1| 19|  2|     UA|   820|SFO| 679| 12.75|     123|  135|
|  8|  5|  5|     US|  2175|LGA| 214|  13.0|      71|  -10|
|  5| 27|  5|     AA|  1240|ORD|1197| 14.42|     195|  -11|
|  8| 20|  6|     B6|   119|JFK|1182| 14.67|     198|   20|
|  2|  3|  1|     AA|  1881|JFK|1090| 15.92|     200|   -9|
|  8| 26|  5|     B6|    35|JFK|1028| 20.58|     193|  102|
|  4|  9|  5|     AA|   336|ORD| 733|  20.5|     125|   32|
|  3|  8|  2|     UA|   678|ORD| 733| 10.95|     129|   55|
|  8| 10|  3|     OH|  6347|LGA| 292| 11.75|     102|    8|
|  8| 14|  0|     UA|   624|ORD| 612| 17.92|     109|   57|
|  4|  8|  4|     OH|  5585|JFK| 301| 13.25|      88|   23|
|  1| 14|  4|     UA|  1524|SFO| 414| 14.87|      91|   27|
|  1|  2|  6|     AA|  1341|ORD|1846|   7.5|     275|   26|
+---+---+---+-------+------+---+----+------+--------+-----+
only showing top 20 rows

In [ ]:
# rename columns

df_pyspark.withColumnRenamed('MMon','mon').show()

+---+---+---+-------+------+---+----+------+--------+-----+
|mon|dom|dow|carrier|flight|org|mile|depart|duration|delay|
+---+---+---+-------+------+---+----+------+--------+-----+
| 10| 10|  1|     OO|  5836|ORD| 157|  8.18|      51|   27|
|  1|  4|  1|     OO|  5866|ORD| 466|  15.5|     102|   NA|
| 11| 22|  1|     OO|  6016|ORD| 738|  7.17|     127|  -19|
|  2| 14|  5|     B6|   199|JFK|2248| 21.17|     365|   60|
|  5| 25|  3|     WN|  1675|SJC| 386| 12.92|      85|   22|
|  3| 28|  1|     B6|   377|LGA|1076| 13.33|     182|   70|
|  5| 28|  6|     B6|   904|ORD| 740|  9.58|     130|   47|
|  1| 19|  2|     UA|   820|SFO| 679| 12.75|     123|  135|
|  8|  5|  5|     US|  2175|LGA| 214|  13.0|      71|  -10|
|  5| 27|  5|     AA|  1240|ORD|1197| 14.42|     195|  -11|
|  8| 20|  6|     B6|   119|JFK|1182| 14.67|     198|   20|
|  2|  3|  1|     AA|  1881|JFK|1090| 15.92|     200|   -9|
|  8| 26|  5|     B6|    35|JFK|1028| 20.58|     193|  102|
|  4|  9|  5|     AA|   336|ORD| 733|  20.5|     125|   32|
|  3|  8|  2|     UA|   678|ORD| 733| 10.95|     129|   55|
|  8| 10|  3|     OH|  6347|LGA| 292| 11.75|     102|    8|
|  8| 14|  0|     UA|   624|ORD| 612| 17.92|     109|   57|
|  4|  8|  4|     OH|  5585|JFK| 301| 13.25|      88|   23|
|  1| 14|  4|     UA|  1524|SFO| 414| 14.87|      91|   27|
|  1|  2|  6|     AA|  1341|ORD|1846|   7.5|     275|   26|
+---+---+---+-------+------+---+----+------+--------+-----+
only showing top 20 rows

#**Flight Delay Prediction**

In [ ]:
import numpy as np
import pandas as pd 
import os
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

from pyspark.sql.functions import round
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator, BinaryClassificationEvaluator

In [ ]:
spark = SparkSession.builder \
                    .master('local[*]') \
                    .appName('ML with PySpark') \
                    .getOrCreate()
spark

In [ ]:
flights_df = spark.read.csv('/content/flights-larger.csv',sep=',',header=True,inferSchema=True,nullValue='NA')

In [ ]:

print("The data contain %d records." % flights_df.count())

flights_df.show(5)

The data contain 275000 records.
+---+---+---+-------+------+---+----+------+--------+-----+
|mon|dom|dow|carrier|flight|org|mile|depart|duration|delay|
+---+---+---+-------+------+---+----+------+--------+-----+
| 10| 10|  1|     OO|  5836|ORD| 157|  8.18|      51|   27|
|  1|  4|  1|     OO|  5866|ORD| 466|  15.5|     102| null|
| 11| 22|  1|     OO|  6016|ORD| 738|  7.17|     127|  -19|
|  2| 14|  5|     B6|   199|JFK|2248| 21.17|     365|   60|
|  5| 25|  3|     WN|  1675|SJC| 386| 12.92|      85|   22|
+---+---+---+-------+------+---+----+------+--------+-----+
only showing top 5 rows

In [ ]:
flights_df.dtypes

[('mon', 'int'),
 ('dom', 'int'),
 ('dow', 'int'),
 ('carrier', 'string'),
 ('flight', 'int'),
 ('org', 'string'),
 ('mile', 'int'),
 ('depart', 'double'),
 ('duration', 'int'),
 ('delay', 'int')]

In [ ]:
flights_df =  flights_df.drop('flight')
flights_df = flights_df.dropna()
print(flights_df.count())

258289

In [ ]:

flights_km = flights_df.withColumn('km', round(flights_df.mile * 1.60934, 0)) \
                    .drop('mile')


flights_km = flights_km.withColumn('label', (flights_km.delay >= 15).cast('integer'))

flights_km.show(5)

+---+---+---+-------+---+------+--------+-----+------+-----+
|mon|dom|dow|carrier|org|depart|duration|delay|    km|label|
+---+---+---+-------+---+------+--------+-----+------+-----+
| 10| 10|  1|     OO|ORD|  8.18|      51|   27| 253.0|    1|
| 11| 22|  1|     OO|ORD|  7.17|     127|  -19|1188.0|    0|
|  2| 14|  5|     B6|JFK| 21.17|     365|   60|3618.0|    1|
|  5| 25|  3|     WN|SJC| 12.92|      85|   22| 621.0|    1|
|  3| 28|  1|     B6|LGA| 13.33|     182|   70|1732.0|    1|
+---+---+---+-------+---+------+--------+-----+------+-----+
only showing top 5 rows

In [ ]:

flights_indexed = StringIndexer(inputCol='carrier', outputCol='carrier_idx').fit(flights_km).transform(flights_km)


flights_indexed = StringIndexer(inputCol='org', outputCol='org_idx').fit(flights_indexed).transform(flights_indexed)
flights_indexed.show(5)

+---+---+---+-------+---+------+--------+-----+------+-----+-----------+-------+
|mon|dom|dow|carrier|org|depart|duration|delay|    km|label|carrier_idx|org_idx|
+---+---+---+-------+---+------+--------+-----+------+-----+-----------+-------+
| 10| 10|  1|     OO|ORD|  8.18|      51|   27| 253.0|    1|        2.0|    0.0|
| 11| 22|  1|     OO|ORD|  7.17|     127|  -19|1188.0|    0|        2.0|    0.0|
|  2| 14|  5|     B6|JFK| 21.17|     365|   60|3618.0|    1|        4.0|    2.0|
|  5| 25|  3|     WN|SJC| 12.92|      85|   22| 621.0|    1|        3.0|    5.0|
|  3| 28|  1|     B6|LGA| 13.33|     182|   70|1732.0|    1|        4.0|    3.0|
+---+---+---+-------+---+------+--------+-----+------+-----+-----------+-------+
only showing top 5 rows

In [ ]:

assembler = VectorAssembler(inputCols=['mon', 'dom', 'dow','carrier_idx', 'org_idx', 'km', 'depart', 'duration'], outputCol='features')

flights_assembled = assembler.transform(flights_indexed)

flights_assembled.select('features', 'delay').show(5, truncate=False)

+-----------------------------------------+-----+
|features                                 |delay|
+-----------------------------------------+-----+
|[10.0,10.0,1.0,2.0,0.0,253.0,8.18,51.0]  |27   |
|[11.0,22.0,1.0,2.0,0.0,1188.0,7.17,127.0]|-19  |
|[2.0,14.0,5.0,4.0,2.0,3618.0,21.17,365.0]|60   |
|[5.0,25.0,3.0,3.0,5.0,621.0,12.92,85.0]  |22   |
|[3.0,28.0,1.0,4.0,3.0,1732.0,13.33,182.0]|70   |
+-----------------------------------------+-----+
only showing top 5 rows

Machine Learning Model

In [ ]:
flights_train, flights_test = flights_assembled.randomSplit([0.8, 0.2], seed=42)


training_ratio = flights_train.count() / flights_assembled.count()
training_ratio

0.7997359546864171

In [ ]:
#using decision tree

tree = DecisionTreeClassifier()
tree_model = tree.fit(flights_train)

prediction = tree_model.transform(flights_test)
prediction.select('label', 'prediction', 'probability').show(5, False)

+-----+----------+----------------------------------------+
|label|prediction|probability                             |
+-----+----------+----------------------------------------+
|0    |1.0       |[0.31713843432109684,0.6828615656789031]|
|1    |1.0       |[0.31713843432109684,0.6828615656789031]|
|0    |1.0       |[0.31713843432109684,0.6828615656789031]|
|0    |1.0       |[0.4312231340367331,0.5687768659632669] |
|0    |1.0       |[0.31713843432109684,0.6828615656789031]|
+-----+----------+----------------------------------------+
only showing top 5 rows

Evaluation of the model

In [ ]:
prediction.groupBy('label', 'prediction').count().show()

# Calculate the elements of the confusion matrix
TN = prediction.filter('prediction = 0 AND label = prediction').count()
TP = prediction.filter('prediction = 1 AND label = prediction').count()
FN = prediction.filter('prediction = 0 AND label != prediction').count()
FP = prediction.filter('prediction = 1 AND label != prediction').count()


accuracy = (TN + TP) / (TN + TP + FN + FP)
accuracy

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|    1|       0.0| 9196|
|    0|       0.0|16378|
|    1|       1.0|16697|
|    0|       1.0| 9455|
+-----+----------+-----+

0.6394269806286974

In [ ]:
#using logistic regression

logistic = LogisticRegression().fit(flights_train)

prediction = logistic.transform(flights_test)
prediction.groupBy('label', 'prediction').count().show()

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|    1|       0.0| 9378|
|    0|       0.0|15026|
|    1|       1.0|16515|
|    0|       1.0|10807|
+-----+----------+-----+

In [ ]:
# Calculate precision and recall
precision = TP / (TP + FP)
recall = TP / (TP + FN)
print('precision = {:.2f}\nrecall    = {:.2f}'.format(precision, recall))

# Find weighted precision
multi_evaluator = MulticlassClassificationEvaluator()
weighted_precision = multi_evaluator.evaluate(prediction, {multi_evaluator.metricName: "weightedPrecision"})

# Find AUC
binary_evaluator = BinaryClassificationEvaluator()
auc = binary_evaluator.evaluate(prediction, {binary_evaluator.metricName: "areaUnderROC"})

precision = 0.64
recall    = 0.64